.container {
  display: flex;
  height: 300px;
  width: 100%;
  align-items: center;
  justify-content: center;
  perspective: 1000px;
}

.dice {
  width: 90px;
  height: 90px;
  transform-style: preserve-3d;
  transition: transform 0.7s ease-out;
}

.sides {
  background-color: white;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  // box-shadow: inset 0 0 3px rgba(0,0,0,0.25);
  background-color: white;
  border: 5px solid white;
  border-radius: 5px;
}

.dot {
  display: block;
  position: absolute;
  width: 16px;
  height: 16px;
  border-radius: 50%;
  background-color: black;
  transform: translate(-50%, -50%);
  z-index: 10;
}

.side1 .dot1 {
  top: 50%;
  left: 50%;
}

.side2 .dot1 {
  top: 25%;
  left: 25%;
}
.side2 .dot2 {
  top: 75%;
  left: 75%;
}

.side3 .dot1 {
  top: 25%;
  left: 25%;
}
.side3 .dot2 {
  top: 75%;
  left: 75%;
}
.side3 .dot3 {
  top: 50%;
  left: 50%;
}

.side4 .dot1 {
  top: 25%;
  left: 25%;
}
.side4 .dot2 {
  top: 25%;
  left: 75%;
}
.side4 .dot3 {
  top: 75%;
  left: 25%;
}
.side4 .dot4 {
  top: 75%;
  left: 75%;
}

.side5 .dot1 {
  top: 25%;
  left: 25%;
}
.side5 .dot2 {
  top: 25%;
  left: 75%;
}
.side5 .dot3 {
  top: 75%;
  left: 25%;
}
.side5 .dot4 {
  top: 75%;
  left: 75%;
}
.side5 .dot5 {
  top: 50%;
  left: 50%;
}

.side6 .dot1 {
  top: 25%;
  left: 25%;
}
.side6 .dot2 {
  top: 25%;
  left: 75%;
}
.side6 .dot3 {
  top: 75%;
  left: 25%;
}
.side6 .dot4 {
  top: 75%;
  left: 75%;
}
.side6 .dot5 {
  top: 50%;
  left: 25%;
}
.side6 .dot6 {
  top: 50%;
  left: 75%;
}

.dice .side1 {
  transform: translateZ(45px);
}
.dice .side2 {
  transform: rotateX(-180deg) translateZ(45px);
}
.dice .side3 {
  transform: rotateY(90deg) translateZ(45px);
}
.dice .side4 {
  transform: rotateY(-90deg) translateZ(45px);
}
.dice .side5 {
  transform: rotateX(90deg) translateZ(45px);
}
.dice .side6 {
  transform: rotateX(-90deg) translateZ(45px);
}

.dice[data-side='1'] {
  transform: rotateX(360deg) rotateY(360deg) rotateZ(720deg);
}
.dice[data-side='2'] {
  transform: rotateX(360deg) rotateY(540deg) rotateZ(720deg);
}
.dice[data-side='3'] {
  transform: rotateX(360deg) rotateY(630deg) rotateZ(720deg);
}
.dice[data-side='4'] {
  transform: rotateX(360deg) rotateY(450deg) rotateZ(720deg);
}
.dice[data-side='5'] {
  transform: rotateX(630deg) rotateY(360deg) rotateZ(720deg);
}
.dice[data-side='6'] {
  transform: rotateX(450deg) rotateY(360deg) rotateZ(720deg);
}

.dice[data-side='1'].reRoll {
  transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
}
.dice[data-side='2'].reRoll {
  transform: rotateX(0deg) rotateY(180deg) rotateZ(0deg);
}
.dice[data-side='3'].reRoll {
  transform: rotateX(0deg) rotateY(270deg) rotateZ(0deg);
}
.dice[data-side='4'].reRoll {
  transform: rotateX(0deg) rotateY(90deg) rotateZ(0deg);
}
.dice[data-side='5'].reRoll {
  transform: rotateX(270deg) rotateY(0deg) rotateZ(0deg);
}
.dice[data-side='6'].reRoll {
  transform: rotateX(90deg) rotateY(0deg) rotateZ(0deg);
}
